// COLORS
$color-primary: #ff9633;
$color-primary-light: #ffb570;
$color-primary-dark: #ff7a00;

$color-secondary-light: #2cb52c;
$color-secondary-dark: #228b22;

$color-tertiary-light: #2f5fb1;
$color-tertiary-dark: #274e91;

$color-black: #000;
$color-white: #fff;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem; // margin-bottom
$gutter-horizontal: 6rem; // spaces inbetween columns
