$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?dc62f3f774c8dfb28e37591f39406e24") format("truetype"),
url("./flaticon.woff?dc62f3f774c8dfb28e37591f39406e24") format("woff"),
url("./flaticon.woff2?dc62f3f774c8dfb28e37591f39406e24") format("woff2"),
url("./flaticon.eot?dc62f3f774c8dfb28e37591f39406e24#iefix") format("embedded-opentype"),
url("./flaticon.svg?dc62f3f774c8dfb28e37591f39406e24#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "give-love": "\f101",
    "heart-1": "\f102",
    "heart-2": "\f103",
    "heart-3": "\f104",
    "heart": "\f105",
    "leaf": "\f106",
    "love-birds": "\f107",
    "meditation-1": "\f108",
    "meditation-2": "\f109",
    "meditation": "\f10a",
    "receive": "\f10b",
    "user": "\f10c",
);

.flaticon-give-love:before {
    content: map-get($flaticon-map, "give-love");
}
.flaticon-heart-1:before {
    content: map-get($flaticon-map, "heart-1");
}
.flaticon-heart-2:before {
    content: map-get($flaticon-map, "heart-2");
}
.flaticon-heart-3:before {
    content: map-get($flaticon-map, "heart-3");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-leaf:before {
    content: map-get($flaticon-map, "leaf");
}
.flaticon-love-birds:before {
    content: map-get($flaticon-map, "love-birds");
}
.flaticon-meditation-1:before {
    content: map-get($flaticon-map, "meditation-1");
}
.flaticon-meditation-2:before {
    content: map-get($flaticon-map, "meditation-2");
}
.flaticon-meditation:before {
    content: map-get($flaticon-map, "meditation");
}
.flaticon-receive:before {
    content: map-get($flaticon-map, "receive");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
