*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* this will automatically inherit whatever box sizing values are set to all parts of the page */
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5
  /* font-size: 10px; */
  /* Change to 10px to make it easier to convert all pixel units to rem,. 10px is 1 rem. This is the root font size
  Because users CANNOT change font size in their browser if we set it in px,  convert to % */
  overflow-x: hidden;

  // @media (max-width: 600px) {
  //   font-size: 50%;
  // }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12 (.75 x 16), 12/16 = 75
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  // @include respond(phone) {
  //   font-size: 50%;
  // }
}

body {
  box-sizing: border-box; /* changes the box model so borders and paddings are no longer added to total height or width */
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
